# Repaso - Módulo 2
---

## Cifrado

Se recibió un mensaje cifrado con un método congruencial simple: $ x_n = (ax_{n-1}+b)\mod m $.

El cifrado que se usó es el siguiente:
- 0 corresponde a 'A'
- 1 corresponde a 'B'
- 2 corresponde a 'C'
- ...
- 25 corresponde a 'Z' (no hay 'Ñ')
- Se toma la letra y se le suma un número aleatorio desconocido.
- Se generan 3 números antes de empezar el cifrado; esto quiere decir que la primera letra es "Letra + $x_3$"
- El mensaje que llegó fue: "12, 19, 15, 24"

Sabiendo de antemano que los parámetros de este generador son $m=16$, $a=5$, $b=3$ y que la semilla fue $7$; ¿cuál es el mensaje decodificado?


## Evaluación numérica de integrales utilizando Montecarlo
Escriba la función para integrar por el método Montecarlo de tipo 1

In [48]:
import numpy as np
import pandas as pd

def montecarlo1(f,N,a,b):
    up = np.random.uniform(a, b, N)
    media = np.mean(f(up))
    return media*(b-a)

def f1(x):
    return np.sqrt(1+x**4)

def f2(x):
    return np.log(np.log(x))

def f3(x):
    return 1/np.log(x)

def f4(x):
    return np.exp(-(x//2)/2)

def montecarlo(f,N,a,b):
    up = np.random.uniform(a,b,N)
    media = np.mean(f(up))
    return media*(b-a)

a=4
b=5
N = np.logspace(1, 5, 5)
table = pd.DataFrame(columns = ["Aproximacion1","Aproximacion2","Aproximacion3","Aproximacion4", ])
for i in N:
    Aproximacion1 = montecarlo(f1, int(i), a, b)
    Aproximacion2 = montecarlo(f2, int(i), a, b)
    Aproximacion3 = montecarlo(f3, int(i), a, b)
    Aproximacion4 = montecarlo(f4, int(i), a, b)
    
    table.loc[i, "Aproximacion1"] = Aproximacion1
    table.loc[i, "Aproximacion2"] = Aproximacion2
    table.loc[i, "Aproximacion3"] = Aproximacion3
    table.loc[i, "Aproximacion4"] = Aproximacion4

In [49]:
table

         Aproximacion1 Aproximacion2 Aproximacion3 Aproximacion4
10.0         20.389183      0.418753      0.676648      0.367879
100.0        21.026794      0.402648      0.666692      0.367879
1000.0       20.279179      0.405109      0.667041      0.367879
10000.0      20.349483      0.405498      0.666791      0.367879
100000.0      20.35269      0.405871        0.6669      0.367879

Considere las funciones $f_1(x)=\sqrt{1+x^{4}}$, $f_2(x)=\ln(\ln x)$, $f_3(x)=\frac {1}{\ln x}$, y $f_4(x)=e^{-{\frac {x^{2}}{2}}}$.

Utilizar la función anterior para realizar la evaluación numérica de las integrales de las funciones anteriores en el intervalo $(4,5)$. Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y cuyas columnas correspondan a las funciones.

## Montecarlo Tipo 2
Aproximar el área de la región descrita por

$$x^2+2y^2\leq-2x+8y-7$$

Poner los resultados en una tabla cuyas filas correspondan a la cantidad de términos utilizados en la aproximación (usar 10, 100, 1000, 10000 y 100000 términos) y en las columnas el valor de aproximación y el error de integración.

Definir unos límites adecuados $a_1$, $b_1$, $a_2$ y $b_2$, para la región $R=\left[a_1,b_1\right]\times\left[a_2,b_2\right]$ y grafíque esta región.

In [53]:
import numpy as np
x = np.random.uniform(10, 100, 1000)
y = np.random.uniform(10, 100, 1000)

x, y = np.meshgrid(x, y)

def region(x, y) :
    return x**2+2*y**2 <= -2*x+8*y-7

x = np.random.uniform(10, 100, 1000)
y = np.random.uniform(10, 100, 1000)
x, Y = np.meshgrid(x, y)

def montecarlo2(region, xa, xb, ya, yb, N):
    x = np.random.uniform(xa, xb, N)
    y = np.random.uniform(ya, yb, N)
    B = region(x,y)
    AR = (xb-xa)*(yb-ya)
    return np.mean(B)*AR

montecarlo2(region, 10, 100, 1000, 10000, 100000)

0.0

In [54]:
import numpy as np
import pandas as pd

def f(x):
    return 1/np.log10(x)

a = 2
b = 2.1
N = np.logspace(1, 5, 5)

table2 = pd.DataFrame(columns = ["Aproximación"], index=N)

def montecarlo2(region, xa, xb, ya, yb, N):
    x = np.random.uniform(xa, xb, N)
    y = np.random.uniform(ya, yb, N)
    B = region(x,y)
    AR = (xb-xa)*(yb-ya)
    return np.mean(B)*AR

montecarlo2(region, -0.05, 0.9, 0, 1, 10)

for i in N:
    aproximacion2 = montecarlo2(region, -0.05, 0.9, 0, 1, int(i))
    table2.loc[i, "Aproximación"] = aproximacion2
table2

         Aproximación
10.0              0.0
100.0             0.0
1000.0            0.0
10000.0           0.0
100000.0          0.0

---
## Fractal aleatorio tipo Barnsley

- En la clase de fractales aleatorios vimos que el fractal helecho de Barnsley se generaba a través de cuatro transformaciones afines que se elegían con cierta probabilidad.
- Vimos que este helecho representaba de manera muy aproximada helechos reales.
- Vimos que modificando parámetros de la tabla, se podían generar mutaciones de el helecho.

Pues bien, usando la misma idea de transformaciones afines que se escogen con cierta probabilidad, se pueden generar una infinidad inimaginable de fractales. Incluso, se pueden generar fractales aleatorios que poseen un atractor determinístico.

**Referencia:**
- Barnsley, Michael F. *Fractals Everywhere: New Edition*, ISBN: 9780486320342.

Usando la siguiente tabla, evalúe el fractal de Barnsley para 100 000 puntos.

In [1]:
import pandas as pd
import numpy as np

In [2]:
i = np.arange(4)

df = pd.DataFrame(index=i,columns=['$a_i$', '$b_i$', '$c_i$', '$d_i$', '$e_i$', '$f_i$', '$p_i$'], dtype='float')
df.index.name = "$i$"

df['$a_i$'] = [0.5, 0.5, 0.5, 0.5]
df['$b_i$'] = [0.0, 0.0, 0.0, 0.0]
df['$c_i$'] = [0.0, 0.0, 0.0, 0.0]
df['$d_i$'] = [0.5, 0.5, 0.5, 0.5]
df['$e_i$'] = [1.0, 50.0, 1.0, 50.0]
df['$f_i$'] = [1.0, 1.0, 50.0, 50.0]
df['$p_i$'] = [0.1, 0.2, 0.3, 0.4]

df.round(2)

     $a_i$  $b_i$  $c_i$  $d_i$  $e_i$  $f_i$  $p_i$
$i$
0      0.5    0.0    0.0    0.5    1.0    1.0    0.1
1      0.5    0.0    0.0    0.5   50.0    1.0    0.2
2      0.5    0.0    0.0    0.5    1.0   50.0    0.3
3      0.5    0.0    0.0    0.5   50.0   50.0    0.4

---
## Probabilidad Precio-Umbral

En las últimas clases vimos una aplicación de simulación montecarlo. Consistía en descargar datos históricos de precio de cierre de acciones de alguna compañía, proyectar esos precios y sacar la probabilidad de que los precios en el siguiente año sobrepasaran cierto precio umbral.

En este ejemplo evaluaremos dos compañías con tendencias más o menos similares (Apple y Microsoft) veremos cuál tiene más probabilidades de darnos un interés deseado.

Además, descargaremos los datos del año 2020 para ver si el análisis concuerda.

Descargue datos para Apple y Microsoft desde enero de 2015 a diciembre de 2019 y muestre sus gráficas.

Calcule los rendimientos diarios junto con sus características estadísticas

Simule 1000 escenarios de rendimientos diarios para el 2020 (para cada una de las empresas)

Calcule los precios con base en los rendimientos simulados

Calcule la probabilidad de obtener un retorno del 20% para ambas marcas.

Finalmente, grafique los datos reales del 2020 para ver que tan acertado fue nuestro análisis.

## Probabilidad

Imagina que en un país la estatura promedio es 164 centímetros, con una desviación estándar de 4 centímetros. ¿Cuál es la probabilidad de que si sumamos la estatura de 20 personas se obtenga un valor mayor a 30 metros?